<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="HLKJobsEntities" connectionString="metadata=res://*/DBConnect.JobEntity.csdl|res://*/DBConnect.JobEntity.ssdl|res://*/DBConnect.JobEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.23.240.101 ;initial catalog=HLKJobs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <!--<add name="HLKJobsEntities" connectionString="metadata=res://*/DBConnect.JobEntity.csdl|res://*/DBConnect.JobEntity.ssdl|res://*/DBConnect.JobEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.248.233.35;initial catalog=HLKJobs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
	<add key="ServerName" value="SAPSERVER.fareast.corp.microsoft.com"/>
    <add key="DataBaseName" value="wttidentity"/>
    <add key="DataStoreName" value="SAPSERVER"/>
    <add key="SaveGeneratedTCFilePath" value="C:\Users\v-huweiz\Source\Repos\SAP\AutomacionTestCase\Automation_Selenium\TestCase"/>
  </appSettings>
</configuration>